body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img {
    margin: 0;
    padding: 0;
}
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
ul, ol {
    list-style: none;
}
a{text-decoration: none;}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.pa{
    position: absolute;
}
.pr{
    position: relative;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/*版心*/
.w {
    width: 1180px;
    margin: 0 auto;
}
/*导航栏*/
.nav {
    width: 100%;
    height: 60px;
    background-color: #EC82B7;
}
.nav-logo {
    width: 207px;
    height: 60px;
    float: left;
    margin: 9px 30px 0 0;
    background: url(../images/new-img/logo.png) 0 0 no-repeat;
    cursor: pointer;
}
.nav-logo:hover {
    background-position: -216px 0;
}

.nav ul {
    float: right;
}
.nav ul li {
    float: left;
    position: relative;
}
.nav a {
    display: inline-block;
    width: 116px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.nav a:hover {
    background-color: #CC6699;
}
.nav b {
    position: relative;
    font-weight: normal;
    font: 12px Microsoft Yahei,Verdana,宋体,sans-serif;
    font-size: 16px;
    display: block;
    margin: 11px 0 5px;
}
.nav span {
    position: relative;
    font-family: Georgia, "Times New Roman", Times, serif;
    display: block;
    font-style: italic;
    font-size: 12px;
}
.nav-span,.nav-current{
    color: #ff0;
}
.nav-home {
    background-color: #CC6699;
}

/*网页主体内容*/
.container{
    width: 100%;
}
.container .inner{
    width: 1200px;
    margin: 0 auto;
}
.inner .head {
    margin: 15px auto;
    height: 42px;
    line-height: 42px;
    font-size: 28px;
    color: #8a3188;
    text-align: center;
}
.inner .content{
    line-height: 18px;
    margin-top: 14px;
    font-size: 12px;
    color: #999;
    text-align: center;

}
.inner .imgList span{
    position: absolute;
    display: block;
    line-height: 36px;
}
.inner .imgList div{
    float: left;
    position: relative;
}
.inner .imgList .theme{
    height: 36px;
    bottom: 80px;
    left: -110px;
    font-size: 28px;
    z-index: 10;
}
.inner .imgList .des{
    height: 36px;
    left: 25px;
    bottom: -25px;
    z-index: 10;
}
.inner .imgList .bg{
    width: 670px;
    height: 420px;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 8;
    opacity: 0;
}
.imgList div{
    overflow: hidden;
}
.imgList .out{
    margin: 5px 5px 0 5px;
}
.imgList .trado,.imgList .diy{
    margin-top: 3px;
}
.container .news{
    margin: 0 auto;
}
.news .header {
    border-bottom: 1px solid #ccc;
    width: 1200px;
    height: 32px;
    margin: 25px auto;
}
.news .header span{
    display: inline-block;
    font-size: 18px;
    width: 75px;
    height: 32px;
    line-height: 32px;
    color: #CC6699;
}
.news .header li{
    float: left;
    line-height: 32px;
    font-size: 16px;
}
.news .content{
    width: 1200px;
    margin: 0 auto;
}
.news .content .main{
    margin-top: 15px;
}
.news .content .info{
    padding-left: 25px;
    overflow: hidden;
}
.content .info h3{
    font-size: 24px;
    font-weight: 700;
}
.content .info p{
    padding-top: 25px;
    font-size: 14px;
}
.content .info a{
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    background-color: #b13f93;
    position: absolute;
    bottom: 10px;
    right: 50px;
}
.content .links{
    margin-top: 15px;
    font-size: 14px;
}
.content .links .num{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
.links a .num{
    color: #ddd;
}
.content .current{
    background-color: #CC6699;
}
.content .img{
    float: left;
    overflow: hidden;
}
.content img:hover{
    transform: scale(1.3);
    transition: all 1s ease 0s;
    -webkit-transform: scale(1.3);
    /*-webkit-transform: all 1s ease 0s;*/
}

/*尾部*/
.tail {
    margin-top: 25px;
    height: 208px;
    background: url(../images/new-img/tail.png) no-repeat  center 0;
    overflow: hidden;
    text-align: center;
    padding-bottom: 50px;
}
.tail-b {
    margin-top: 150px;
}

/*底部服务部分*/
.footer {
    padding-top: 30px;
    border-top: 10px solid #EC82B7;
    position: relative;
}
.footer-top  {
    height: 0;
    margin-top: -61px;
}
.footer-top-a {
    float: right;
    width: 39px;
    height: 21px;
    background: url(../images/new-img/new-footer-top.png) 0 0 no-repeat;
    margin-right: 90px;
}
.footer-top-a:hover {
    background-position: 0 -21px;
}
/*底部 自定义列表*/
.footer-top-bottom {
    margin-top: 61px;
}
.footer-l {
    float: left;
}
.footer-l dl {
    float: left;
    width: 200px;
    padding: 20px 0 20px 10px;
    margin-left: 10px;
    text-align: right;
    border-right: 1px solid #DDDDDD;
}
.footer-l dt a {
    position: relative;
    font-weight: 700;
}
.footer-l dt {
    height: 28px;
    position: relative;
    padding-bottom: 8px;
}
.footer-l dd {
    height: 28px;
    padding-top: 4px;
    font-weight: normal;
    position: relative;
}
.footer-l a {
    position: relative;
    padding-right: 28px;
    font: 12px Microsoft Yahei,Verdana,宋体,sans-serif;
    color: #666666;
    line-height: 28px;

}

 .footer-l dd:hover{
     background-color: hotpink;
 }
 .footer-l dt:hover {
     background-color: hotpink;
 }
.footer-l dd span {
    margin-right: 8px;
    color: #BFA699;
    font-size: 10px;
}
.footer-l dd span:hover {
    color: white;
}
.footer-l-news {
    background: url(../images/new-img/new-new.gif) right top no-repeat;
}
.footer-l div {
    position: absolute;
    right: 0;
    top: 2px;
    width: 0px;
    height: 28px;
    background-color: #EC82B7;
    z-index: -1;
}
/*二维码*/
.footer-r {
    float: left;
    padding: 36px 0 0 90px;
}
.footer-r a {
    display: block;
    width: 124px;
    padding-top: 134px;
    text-align: center;
    background: url(../images/new-img/new-code.png) no-repeat;
    color: #667AA3;
    font: 14px 'microsoft yahei';
}
.footer-r a:hover {
    color: #EC89C2;
}



/*版权部分 */
.copyright {
    padding-top: 44px;
}
.copyright div {
    padding-top: 46px;
    text-align: center;
    height: 80px;
    font:12px Microsoft Yahei,Verdana,宋体,sans-serif;
    line-height: 12px;
    background: url(../images/new-img/new-bg.gif);
}